body { 
    background: url(http://na.leagueoflegends.com/sites/default/files/upload/art/teambuilder-wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
