<div class="fullscreen-section">
 <div class="col-xs-4 col-xs-offset-4 login-container">
   <span *ngIf="registration == false">
   Enter Logn: <input #username (keyup) = setUserName(username.value) type="text" name="fname"><br>
   Enter Password: <input #password (keyup) = setPassword(password.value) type="text" name="lname"><br>
   </span>

   <span *ngIf="registration == true">

     Choose Username: <input #registerUserName (keyup) = registerUsername(registerUserName.value) type="text" name="lname"><br>
   Choose Password: <input #registerUserPassword (keyup) = registerPassword(registerUserPassword.value) type="text" name="lname"><br>

   </span>
  this is{{errorMessage}}
  this is{{response}}
   <span  (click)="needsRegistration(false)">sign</span> or <span (click)="needsRegistration(true)"> register</span><br>
   <button (click)="postRegisterInfo()">Submit</button>
 </div>
</div>
